body {
    background-color: var(--background);
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

body {
    background: linear-gradient(60deg, #505057, #11111b, #687074, #a1a1a1);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-size: 60px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
