body {
    background: linear-gradient(to left, #141212b6, #000000);
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-size: 60px;
}
