body {
    background: linear-gradient(to top, #141212b6, #000000);
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

*{
    cursor: none;
}

img {
    size: 60%;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 100px;
    width: 150px;
}

.profile-name {
    text-align: center;
    padding: 30px;
    font-size: 50px;
}

.links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    border-radius: 12px;
    width: 300px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
    transition: color 1s;
    box-shadow : 0 0 5px #ffff ;
}

.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

a:hover {
    color: black;
    background: white;
}

.cursor{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

.cursor::after,.cursor::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50px;
}

.cursor::before{
    background-color: rgb(255, 255, 255);
}

.cursor.click::before{
    animation: click 1s ease  forwards;
    background-color: rgb(255, 255, 255);
}

@keyframes click{
    0%{
       opacity: 1;
       transform:translate(-50%, -50%) scale(1);
    }
    100%{
       opacity: 0;
       transform: translate(-50%, -50%) scale(7);
    }
}
