body {
    background: rgba(0, 0, 0, 0.849);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

img {
    size: 60%;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 100px;
    width: 150px;
}

.profile-name {
    text-align: center;
    padding: 30px;
    font-size: 50px;
}

.profile-info {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-family: Palatino;
}

.profile-desc {
    text-align: center;
    font-size: 13px;
}

.links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    border-radius: 12px;
    width: 300px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
    box-shadow : 0 0 5px #ffff ;
    transition: color 0.7s;
}

.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

a:hover {
    color: black;
    background: white;
}
